<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shops</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <h1>SHOPS LIST</h1>
    <a href="/home" th:href="@{/home}">Go to menu</a>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Location</th>
        </tr>
        <div th:if="${shops.isEmpty()}">
            <tr>
                <td>
                    Shops list empty
                </td>
            </tr>
        </div>
        <tr th:each="shop : ${shops}">
            <td th:text="${shop.id}"></td>
            <td th:text="${shop.name}"></td>
            <td th:text="${shop.location}"></td>
        </tr>
    </table>
</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>
